<div class="cont">    
    <div class="left-col"></div>

    <div class="divider">
        <div class="arrow-up"></div>
        <div class="arrow-body"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col">
        <div class="upper-half">
            <h1>MARICLAIRE DE GUIA</h1>
            <p class="pronouns"><em>she/her/hers</em></p>
            <p class="description">Web developer and software engineer graduating from Texas Tech University. 
                Lubbock resident who frequently indulges in web comics. 
                An aspiring writer and illustrator on the side, and a serial hobbyist of a few musical instruments. </p>
        </div>
        <div class="lower-half">
            <p class="poem-insert">
                <!-- "pink purple yellow<br>
                a smile of sunset colors<br>
                how they dread the night"<br>
                "out of all this endlessness<br>
                we were put on a dying rock<br>
                given the mechanisms for speech<br>
                thumbs to hold guns<br>
                and arms to wrap our lovers up safely<br>
                my eyes can tell you a thousand things<br>
                and your mind conjures a million more meanings<br>
                "as humans with<br> -->
                "words to comfort<br>
                thoughts to doubt ourselves<br>
                lips to betray with<br>
                & tears to wipe away...<br>
                <!-- when we cry<br>
                we bare our hearts<br>
                and when we speak<br>
                we double-cross them<br> -->
                with all this humanity<br>
                who could blame us for believing<br>
                we were the center of the universe?"
                <!-- how could we not think<br>
                we were the center of the universe?"<br> -->
            </p>
        </div>        
    </div>
</div>