<div class="cont" [ngClass]="{'is-mobile': isMobilePortrait}">    
    <div class="left-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="left-img" title="Website creator"
        [ngClass]="{'is-mobile': isMobilePortrait}"></div>
    </div>

    <div class="divider" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="arrow-up"></div>
        <div class="arrow-body" [ngClass]="{'is-mobile': isMobilePortrait}"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col" [ngClass]="{'is-mobile': isMobilePortrait}">        
        <div class="bio" [ngClass]="{'is-mobile': isMobilePortrait}">
            <div class="title" [ngClass]="{'is-mobile': isMobilePortrait}">
                <h1>MARICLAIRE<br>DE GUIA</h1>
                <p class="pronouns"><em>she/her/hers</em></p>
            </div>            
            
            <p class="description">Software engineer graduating from Texas Tech University and a 
                Lubbock, TX local who frequently indulges in graphic novels and web comics. 
                Currently enthralled by web development and user experience design.</p>
            
            
            <p class="poem-insert">
                <!-- lips to betray with<br>            
                thoughts to doubt ourselves<br>
                & words to comfort each other<br>
                & tears to brush away<br>
                <br> -->
                with all this humanity<br>
                who could blame us for believing<br>
                we were the center of the universe? 
            </p>  
        
        </div>

           
    </div>
</div>