.title h1 {
    font-size: 70px;
}

.title.is-mobile h1{
    font-size: 48px;
}

.left-col.is-mobile {
    height: 100vh;
}

.left-img {
    transform-origin: left;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
    width: 100%;
    height:100%;
    background-image: url(../../../assets/ACS_0065.JPG);
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow: -50px 0px 60px 40px rgb(27,27,27) inset;
   
}

.left-img.is-mobile {
    // align-self: center;
    // margin-top: 50px;
    width: 100%;
    height: 100%;
    background-image: url(../../../assets/ACS_0065.JPG);
    background-size: cover;
    background-repeat: no-repeat; 
    box-shadow: 0px 0px 60px 40px rgb(27,27,27) inset;
}

.right-col {
    height: 100%;
    color: #ffffff;
    
}

.right-col.is-mobile {
    padding-bottom:10vh;
}

.right-col p {
    max-width: 750px;    
}

.desc-wrap {
    padding: 5px;
    background: linear-gradient(
        35deg,
        #8377D1,
        #92DCE5,
        #F04A7C,
        #F17300,
        #F18F01,
    );
}

.description {
    margin-top: 40px;
    padding: 40px 0;
    border-top: 8px dotted #9c0d38;
    border-bottom: 8px dotted #9c0d38;    
}

.poem-insert {
    margin-top: 40px;    
}