<div class="cont" [ngClass]="{'is-mobile': isMobilePortrait}">    
    <div class="left-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="left-img" title="Website creator"
        [ngClass]="{'is-mobile': isMobilePortrait}"></div>
    </div>

    <div class="divider" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="arrow-up"></div>
        <div class="arrow-body" [ngClass]="{'is-mobile': isMobilePortrait}"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col" [ngClass]="{'is-mobile': isMobilePortrait}">        
        <div class="bio" [ngClass]="{'is-mobile': isMobilePortrait}">
            <div class="title" [ngClass]="{'is-mobile': isMobilePortrait}">
                <h1>MARICLAIRE<br>DE GUIA</h1>
                <h2 class="pronouns"><em>she/her/hers</em></h2>
            </div>
                       
            <hr>
            
            <p class="description">Software engineer graduating from Texas Tech University and a 
                Lubbock, TX local who frequently indulges in graphic novels and web comics. 
                Currently enthralled by web development and user experience design.</p>
            
            <hr>
        
        </div>

           
    </div>
</div>