hr.is-mobile {
    display: none;
}

#top.is-mobile {
    margin-top: 60px;
}

#sub {
    display: none;
}

#sub.is-mobile {
    display: flex;
}

.right-col.is-mobile{
    padding:0;
    width: 100%;
}

#sub {
    margin: 5px 0 30px 30px;
}

.project {
    width: 750px;
    padding: 10px 0 40px 0; 
}

.project.is-mobile {
    width: 80vw;
    padding: 0 0 20px 10vw;
    margin-bottom: 20px;
}

#first {
    padding-top: 0px;
}

.project:last-of-type {
    padding-bottom: 0px;
}

.project > p {
    margin-top: -10px;
}

.gif {
    aspect-ratio: 7/4;
    background-image: url(../../../assets/ghostpost_edit.gif);
    background-size:cover;
    margin-top: 30px;    
}

.p-img { 
    aspect-ratio: 7.6/4;   
    background-image: url(../../../assets/spottid.png);
    background-size:cover;
    margin-top: 30px;
}