<div class="cont">
    <div class="left-col">
        <div class="poem-insert">
            "a hail of tones<br>
             & a current of hues<br>
             i’ll look up towards the rainbow calm<br>
             & know that such a sight<br>
             was my own watercolor storm"<br>
        </div>
    </div>

    <div class="divider">
        <div class="arrow-up"></div>
        <div class="arrow-body"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col">
        <div class="project">
            <h1>Deep Learning: Vehicle Occupant Classification</h1>
            <a>github</a>
            <p>Trained a neural network model to classify images of vehicle
                occupants using interpretable and explainable deep-learning methods.</p>
        </div>

        <div class="project">
            <h1>GhostPost</h1>
            <a>github</a>
            <p>Created mock-ups of a learning engagement tool built to allow audiences 
                to communicate with lecturers in real-time.</p>
            <div class="gif"></div>
        </div>       

        <div class="project">
            <h1>SpottID</h1>
            <a>github</a>
            <p>Designed interfaces for a social media and e-commerce platform built to spotlight
                works of marginalized artists.</p>
        </div>        
    </div>     
</div>

