<div class="cont" [ngClass]="{'is-mobile': isMobilePortrait}">
    <div class="left-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="poem-insert" [ngClass]="{'is-mobile': isMobilePortrait}">
            a hail of tones<br>
            and a current of hues<br>
            we’ll look up toward the rainbow calm<br>
            and know that such a sight<br>
            was our watercolor storm<br>
        </div>
    </div>

    <div class="divider" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="arrow-up"></div>
        <div class="arrow-body" [ngClass]="{'is-mobile': isMobilePortrait}"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="project">
            <h1><a href="https://github.com/ShreyeshArangath/NeuralNetworkProject"
                target="_blank"
                rel="noreferrer noopener">Deep Learning: Vehicle Occupant Classification</a></h1>
            <p>Our research team built and trained a neural network model used to classify images of vehicle
                occupants through interpretable and explainable deep-learning methods.</p>
            
            <table [ngClass]="{'is-mobile': isMobilePortrait}">
                <tr>
                    <th>Architecture</th>
                    <th>Optimizer</th>
                    <th>Batch Size</th>
                    <th>Epochs</th>
                    <th>Avg Accuracy with Authors' Methods<br>(5 trials)</th>
                    <th>Avg Accuracy After Optimization<br>(5 trials)</th>
                </tr>
                <tr>
                    <td>ResNet50</td>
                    <td>Adam</td>
                    <td>64</td>
                    <td>5+5</td>
                    <td>.748</td>
                    <td>.783</td>                    
                </tr>
                <tr>
                    <td>DenseNet121</td>
                    <td>Adam</td>
                    <td>32</td>
                    <td>5+5</td>
                    <td>.710</td>
                    <td>.752</td>                    
                </tr>
                <tr>
                    <td>EfficientNetB0</td>
                    <td>Adam</td>
                    <td>32</td>
                    <td>5+5</td>
                    <td>.750</td>
                    <td>.753</td>                    
                </tr>
                <tr>
                    <td>EfficientNetB5</td>
                    <td>Adam</td>
                    <td>32</td>
                    <td>5+5</td>
                    <td>.815</td>
                    <td>.853</td>                    
                </tr>
                <tr>
                    <td>EfficientNetB7</td>
                    <td>Adam</td>
                    <td>32</td>
                    <td>5+5</td>
                    <td>.814</td>
                    <td>.842</td>                    
                </tr>
                <tr>
                    <td>VGG</td>
                    <td>Adam</td>
                    <td>64</td>
                    <td>5+5</td>
                    <td>N/A</td>
                    <td>.696</td>                    
                </tr>         
            </table>
        </div>

        <div class="project">
            <h1><a href="https://github.com/marideguia/ghost-post"
                target="_blank"
                rel="noreferrer noopener">GhostPost</a></h1>
            <p>GhostPost is a learning engagement tool currently under construction. Our goal is to provide a responsive
                web application that allows audiences and lecturers 
                to communicate anonymously with each other in real-time.</p>            
            <div class="gif"></div>
        </div>       

        <div class="project">
            <h1><a href="https://github.com/marideguia/HackWesTX"
                target="_blank"
                rel="noreferrer noopener">SpottID</a></h1>
            <p>In this project, our team designed interfaces for a social media and e-commerce platform
            meant to spotlight works created by marginalized artists.</p>            
            <div class="p-img"></div>
        </div>        
    </div>     
</div>

