<div class="cont" [ngClass]="{'is-mobile': isMobilePortrait}">
    <div class="left-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="poem-insert" [ngClass]="{'is-mobile': isMobilePortrait}">
            a hail of tones<br>
            and a current of hues<br>
            we’ll look up toward the rainbow calm<br>
            and know that such a sight<br>
            was our watercolor storm<br>
        </div>
    </div>

    <div class="divider" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="arrow-up"></div>
        <div class="arrow-body" [ngClass]="{'is-mobile': isMobilePortrait}"></div>
        <div class="arrow-down"></div>
    </div>

    <div class="right-col" [ngClass]="{'is-mobile': isMobilePortrait}">
        <div class="project">
            <div class="title">
                <h1><a href="https://github.com/ShreyeshArangath/NeuralNetworkProject"
                    target="_blank"
                    rel="noreferrer noopener">Deep Learning: Vehicle Occupant Classification</a></h1>
            </div>
            
            <p>Our research team built and trained a neural network model used to classify images of vehicle
                occupants through interpretable and explainable deep-learning methods.</p>
            
            <div class="wrap-center">
                <table [ngClass]="{'is-mobile': isMobilePortrait}">
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <th>Architecture</th>
                        <!-- <th>Optimizer</th> -->
                        <th>Batch Size</th>                    
                        <!-- <th>Epochs</th> -->                    
                        <th>Initial Accuracy</th>
                        <th>Avg Accuracy<br>After Optimizations<br>(5 trials)</th>
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>ResNet50</td>
                        <!-- <td>Adam</td> -->
                        <td>64</td>
                        <!-- <td>5+5</td> -->
                        <td>.558</td>
                        <td>.749</td>                    
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>DenseNet121</td>
                        <!-- <td>Adam</td> -->
                        <td>32</td>
                        <!-- <td>5+5</td> -->
                        <td>.537</td>
                        <td>.678</td>                    
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>EfficientNetB0</td>
                        <!-- <td>Adam</td> -->
                        <td>32</td>
                        <!-- <td>5+5</td> -->
                        <td>.739</td>
                        <td>.753</td>                    
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>EfficientNetB5</td>
                        <!-- <td>Adam</td> -->
                        <td>32</td>
                        <!-- <td>5+5</td> -->
                        <td>.799</td>
                        <td>.843</td> 
                                            
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>EfficientNetB7</td>
                        <!-- <td>Adam</td> -->
                        <td>32</td>
                        <!-- <td>5+5</td> -->
                        <td>.647</td>
                        <td>.832</td>                                           
                    </tr>
                    <tr [ngClass]="{'is-mobile': isMobilePortrait}">
                        <td>VGG</td>
                        <!-- <td>Adam</td> -->
                        <td>64</td>
                        <!-- <td>5+5</td> -->
                        <td>N/A</td>
                        <td>.686</td>                    
                    </tr>         
                </table>
            </div>
            
        </div>

        <div class="project">
            <div class="title">
                <h1><a href="https://github.com/marideguia/ghost-post"
                    target="_blank"
                    rel="noreferrer noopener">GhostPost</a></h1>
            </div>
            
            <p>GhostPost is a learning engagement tool currently under construction. Our goal is to provide a responsive
                web application that allows audiences and lecturers 
                to communicate anonymously with each other in real-time.</p>            
            <div class="gif"></div>
        </div>       

        <div class="project">
            <div class="title">
                <h1><a href="https://github.com/marideguia/HackWesTX"
                    target="_blank"
                    rel="noreferrer noopener">SpottID</a></h1>
            </div>
            
            <p>In this project, our team designed interfaces for a social media and e-commerce platform
            meant to spotlight works created by marginalized artists.</p>            
            <div class="p-img"></div>
        </div>        
    </div>     
</div>

