table {
    margin-top: 30px;
}

.right-col.is-mobile > * {
    width: 100%;
    padding-bottom: 65px;
    border-bottom: dotted;
    border-width: 8px;
    border-color:#9c0d38;
    margin-bottom: 5vh;
}

.right-col.is-mobile > * h1 {
    margin-bottom: 2vh;
}

.right-col.is-mobile{
    // use padding: to overwrite above padding
    padding: 0 0 0 10vw;
    width: 80vw;
}

.right-col > * {
    width: 750px;
    padding-bottom: 65px;
    border-bottom: dotted;
    border-width: 8px;
    border-color:
    #9c0d38    
    // #8377D1,
    // #92DCE5,
    // #F04A7C,
    // #F17300,
    // #F18F01
    ;
}

.right-col > *:last-child {
    border: none;
}

.gif {
    aspect-ratio: 7/4;
    // width: 700px;
    // height: 400px;
    background-image: url(ghostpost_edit.gif);
    background-size:cover;
    margin-top: 30px;    
}

.p-img { 
    aspect-ratio: 7.6/4;   
    // width: 760px;
    // height: 400px;
    background-image: url(spottid.png);
    background-size:cover;
    margin-top: 30px;
}

