// 0c0f0a
// 9c0d38
// ce5374
// fcbcca
// ffd2da

.navbar {
    display: flex;
    align-items: right;
    padding: 10px 0 0 0;    
    height: 5vh;
    background-color: #9c0d38;   
    // box-shadow: 0px -10px 10px 5px  rgb(27,27,27) inset;
}

.navbar button {
    background-color: transparent;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 100%;
    text-shadow: 2px 2px 4px #000000;       
}

.btn-cont {
    margin-right:25px;
    margin-left:auto;
}
