<div class="cont">
    <div class="left-col">
        <p class="poem-insert">
            'twould be an honor<br>
            should our paths converge; grateful<br>
            to know and be known<br>            
        </p>        
    </div>    

    <div class="divider">
        <div class="arrow-up"></div>
        <div class="arrow-body"></div>
        <div class="arrow-down"></div>
    </div> 

    <div class="right-col">
        <h1>CONNECT</h1>    
        <ul class="links">
            <!-- <li>                
                <a href="resume2022.pdf">Resume</a>
            </li> -->
            <li>
                <a href="mailto: mariclairedg@gmail.com"
                target="_blank"
                rel="noreferrer noopener">E-mail</a>
            </li>
            <li>
                <a href="https://github.com/marideguia"
                target="_blank"
                rel="noreferrer noopener">Github</a>
            </li>            
        </ul>        
    </div>
</div>
