.left-col .poem-insert {
    margin-left:auto;
    margin-right: 0;
    padding: 50px;
    min-width: 250px;
    text-align:right;
}

.cont .divider {
    padding: 50px 0 0 0;
}

.right-col > * {
    margin-bottom: 50px;
}