/* You can add global styles to this file, and also import other style files */
html {
    overflow-y:scroll;
}

body {
    margin: 0;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(27, 27, 27);
    color: whitesmoke;
    width: 100%;
    height: 100%;
    font-size: 18px;
    // text-align: justify;
}

ul {
    margin-top: -15px;
    color: #F04A7C;    
    list-style: none;
}

li {
    margin: 0 0 15px 0;
    font-weight: bold;
}

hr {
    margin: 0;
    align-self: left;
    max-width: 750px;
    border-top: 8px dotted #9c0d38;
    border-style: dotted none none;
}

table {
    width: 100%;
    margin-top: 30px;
}

table, th, td {
    font-size: 16px;
    padding: 3px 10px;
    border: 1px solid #9c0d38;
    border-collapse: collapse;
}

th {
    text-transform: capitalize;
    padding:3px 5px;
}

td {
    text-align: center;
    padding: 5px;
}

tr.is-mobile > * {
    font-size: 12px;
    padding: 3px;
}

a {
    font-style: italic;
    transition: all .3s ease-in-out;
    color:#f04a7c;
}

a:hover {
    color:#fff;
    cursor:pointer;
}

.navbar {
    display:flex;
    width: 100vw;
    position: fixed;
    z-index: 2;    
    top:0;
    right:0;    
    justify-content: right;    
    padding-right: 2vw;    
    background-color: rgba(27, 27, 27, 0.75);
}

.navbar.is-mobile {
    justify-content: left;
    left:0;
    right: auto;
    padding-left: 2vw;
    padding-right: 0;
}

.navbar button {
    background-color: transparent;
    color: #ffffff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
    font-size: 100%;
    text-shadow: 2px 2px 4px #000000; 
    transition: all .3s ease-in-out; 
    padding: 8px 15px;     
}

.navbar button:hover{
    color:#f04a7c;
}

.cont {
    display: flex;
}

.cont.is-mobile {
    flex-direction: column;
}

.left-col {
    display: flex;
    flex-flow:column;
    width: 50%;
    min-width: 450px;
}

.left-col.is-mobile {
    min-width: 100vw;
}

.divider {
    display: flex;
    flex-direction: column;
    align-items: center;  
    margin: 10px 0 0 0;
    padding: 50px 0 10px 0;
}

.divider.is-mobile {
    flex-direction:row;
    width: 85%;   
    margin: 35px auto 30px auto;
    padding: 0px;
    justify-content: center;
}

.arrow-up {
    height: 10px;
    width: 10px;
    background-color: #9c0d38;
    border-radius: 50%;
    display: inline-block;
}

.arrow-body {
    width: 1.5px;
    min-height: 90vh;
    height: 100%;
    background-color: #9c0d38;    
}

.arrow-body.is-mobile {
    width: 100%;
    min-height: 1.5px;
    background-color: #9c0d38;    
}

.arrow-down {
    height: 10px;
    width: 10px;
    background-color: #9c0d38;
    border-radius: 50%;
    display: inline-block;
}

.right-col {
    padding: 100px 50px;
    width: 100%;
}

.right-col.is-mobile{
    padding: 0 0 0 10vw;
    width: 80vw;
}

.right-col.is-mobile h1{
    margin: 0;
    margin-bottom: 5vh;    
}

.title {    
    text-transform: uppercase;
    background-image: linear-gradient(
    35deg,
    #8377D1,
    #92DCE5,
    #F04A7C,
    #F17300,
    #F18F01,
    #F04A7C,
    #92DCE5,
    #8377D1,
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textclip 6s linear infinite;
    display: inline-block;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}